# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Local model (không đẩy lên GitHub)
phobert_multitask_model/
*.bin
*.pt
*.pth

# Database instance
instance/

# IDE / hệ thống
.DS_Store
.idea/
.vscode/
